:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: rgb(31, 31, 31);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.app-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.dashboard {
  border-radius: 15px;
  margin: 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0.2rem;
}

.top-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user,
.top-artist,
.top-song,
.top-5,
.top-genre {
  background: rgb(22, 160, 133);
  background: linear-gradient(
    0deg,
    rgba(22, 160, 133, 1) 0%,
    rgba(244, 208, 63, 1) 100%
  );
  border-radius: 15px;
  min-width: 30%;
  min-height: 40%;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 70%;
  height: 50%;
}

ul li {
  list-style: none;
}

div {
  font-size: 1.5rem;
}
